body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    border-bottom: 5px solid #6bc449;
}
.nav-link:hover{
    font-weight: 600;
}
/* NAVBAR  */

.banner-text{
    font-size: 50px;
    font-weight: 500;
    color: #6bc449;
    text-transform: capitalize;
    margin-top: 30px;
}
.banner-para{
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.button{
    background-color: #6bc449;
    color: #fff;
    font-size: 18px;
    border: 0px;
}
.banner-btn button:hover{
    font-weight: 700;
    background-color: red;
    color: #fff;
}

@media only screen and (min-width: 375px){
    .banner-text{
        font-size: 40px;
        margin-top: 10px;
    }
}
/* BANNER  */

.icons{
    font-size: 40px;
    color: #6bc449 !important;
    margin: 20px 0px;
}
.feature-items{
    min-height: 280px;
}
.feature-head h1{
    color: #6bc449;
}
.card:hover{
    transform: scale(1.1);
    background-color:teal !important;
    color: #fff;
}
/* OUR FEATURE  */

.about-us{
    background-color: #f8f9fa;
}
.about-us h1{
    color: #6bc449;
}
.aboutus-p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    padding-left: 10px;
}   
 /* ABOUT US  */

.stocks h1, .testimonial-data h1{
    color: #6bc449;
    font-size: 40px;
    font-weight: 400;
 }
 .stock-text{
     display: flex;
    align-items: center;
    height: 600px;
    justify-content: center; 
 }
 /* stocks  */

 .testimonial-data{
    background-color: #f8f9fa
 }
 .client-details{
    display: inline-block;
    margin-left: 20px;
    margin-top:40px;
 }
 .client-img img{
    float: left;
 }
 .client-img img:hover{
    transform: scale(1.3);
 }
 /* Testimonials  */

 .sign-up{
    background-image: linear-gradient(#5dc559,#70e22f);
    min-height: 200px;
 }
.signup-text h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: normal;
 } 
 .signup-btn a{
    text-decoration: none;
 }
 .sign-up-btn{
    background-color: #fff;
    padding: 10px;
    width: 75%;
    text-align: center;
    color: #000;
 }
 .sign-up-btn:hover{
    background-color: #000;
    color: #fff;
 }
 @media only screen and (max-width:768px){
    .signup-text h2 {
        font-size: 25px;
    }
 }
 /* SIGN UP  */

.terms{
    text-align: justify;
}
/* TERMS AND CONDITION  */

.footer{
    background-color: #343a40;
    height: 80px;
    color: #6bc449;
}
.copy-r{
    font-size: 18px;
    margin-top: 25px;
    margin-left: 70px;
    text-transform: capitalize;
}
.social-icons{
    display: flex;
    justify-content: end;
    align-items: center;
    max-height: 80px;
    padding-right: 10px;
}
.fa-circle-chevron-up{
    font-size: 40px;
}
.fa-brands, .fa-solid{
    padding-right: 15px;
}
.fa-brands:hover,
.fa-solid:hover{
    color: #fff;
    font-size: 30px;
}
@media screen and (max-device-width: 640px) {
    .copy-r {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 40px;
        text-transform: capitalize;
    }
    .social-icons {
        padding-right: 24px;
    }
  }
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .copy-r {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 60px;
        text-transform: capitalize;
    }
    .social-icons {
        height: 0px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
}
 /* footer  */