body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    border-bottom: 5px solid #6bc449;
}
.nav-link:hover{
    font-weight: 600;
}
/* NAVBAR  */


.banner{
    background-color: #f8f9fa !important;
}
.banner-text{
    font-size: 50px;
    font-weight: 500;
    color: #6bc449;
    text-transform: capitalize;
    margin-top: 30px;
}
.banner-para{
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.button{
    background-color: #6bc449;
    color: #fff;
    font-size: 18px;
    border: 0px;
}
.banner-btn button:hover{
    font-weight: 700;
    background-color: red;
    color: #fff;
}

@media only screen and (min-width: 375px){
    .banner-text{
        font-size: 40px;
        margin-top: 10px;
    }
}
/* BANNER  */

.icons{
    font-size: 40px;
    /* text-align: center; */
    color: #6bc449 !important;
    margin: 20px 0px;
}
.feature-items{
    height: 280px;
}
.feature-head h1{
    color: #6bc449;
}
.card:hover{
    transform: scale(1.1);
    background-color:teal !important;
    color: #fff;
}

@media only screen and (min-width: 1000px){
    .feature-items{
        height: 350px;
    }
}

/* OUR FEATURE  */

.about-us{
    background-color: #f8f9fa;
}
.about-us h1{
    color: #6bc449;
}
.aboutus-p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}   

 /* ABOUT US  */

.stocks h1, .testimonial-data h1{
    color: #6bc449;
    font-size: 40px;
    font-weight: 400;
 }
 .stock-text{
     display: flex;
    align-items: center;
    height: 600px;
    justify-content: center; 
 }

 /* stocks  */

 .testimonial-data{
    background-color: #f8f9fa
 }
 .client-details{
    display: inline-block;
    margin-left: 20px;
    margin-top:40px;
 }
 .client-img img{
    float: left;
 }
 .client-img img:hover{
    transform: scale(1.3);
 }

 /* Testimonials  */

 .sign-up{
    background-image: linear-gradient(#5dc559,#70e22f);
    height: 200px;
 }
 .signup-text h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: normal;
 }
 .signup-btn{
    margin-left: 70px;
 }
 .sign-up button{
    border: 0px;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
 }
 .signup-btn button:hover{
    font-weight: 400;
    background-color: teal;
 }